<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.rhis.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.rhis.filter.CorsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PasswordStrengthFilter</filter-name>
        <filter-class>com.rhis.filter.PasswordStrengthFilter</filter-class>
    </filter>
    <filter-mapping>
        <!-- CORS Filter mapping -->
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
        <!--        <url-pattern>/api/*</url-pattern>
        <url-pattern>/api/user-catchment</url-pattern>-->
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- PasswordStrength Filter mapping -->
<!--    <filter-mapping>
        <filter-name>PasswordStrengthFilter</filter-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/prs-coverage</url-pattern>
        <url-pattern>/ProviderActivity</url-pattern>
        <url-pattern>/NidPossessionStatus</url-pattern>
        <url-pattern>/BRidPossessionStatusUpdated</url-pattern>
        <url-pattern>/HIDDistributionCoverage</url-pattern>
        <url-pattern>/mobile-phone-coverage-hh</url-pattern>
        <url-pattern>/non-registered-clients</url-pattern>
        <url-pattern>/unassigned-health-id</url-pattern>
        <url-pattern>/provider-wise-prs</url-pattern>
        <url-pattern>/population-statistics</url-pattern>
        <url-pattern>/nid-coverage</url-pattern>
        <url-pattern>/brn-coverage</url-pattern>
        <url-pattern>/mobile-phone-coverage</url-pattern>
        <url-pattern>/elco_details</url-pattern>
        <url-pattern>/pregnant</url-pattern>
        <url-pattern>/birth</url-pattern>
        <url-pattern>/death</url-pattern>
        <url-pattern>/immunization_infant_ha</url-pattern>
        <url-pattern>/immunization_woman_ha</url-pattern>
        <url-pattern>/migration-management</url-pattern>
        <url-pattern>/elco-status</url-pattern>
        <url-pattern>/eligible-couple</url-pattern>
        <url-pattern>/pregnant-woman-dgfp</url-pattern>
        <url-pattern>/birth-notification</url-pattern>
        <url-pattern>/death-notification</url-pattern>
        <url-pattern>/ProviderActivityMonitoring</url-pattern>
        <url-pattern>/ReportSubmission</url-pattern>
        <url-pattern>/MIS2ApprovalProcess</url-pattern>
        <url-pattern>/mis4-approval-manager</url-pattern>
        <url-pattern>/mis2-approval-manager-v9</url-pattern>
        <url-pattern>/ReportSubmissionTest</url-pattern>
        <url-pattern>/MIS2ApprovalProcessDGFP</url-pattern>
        <url-pattern>/mis4-approval-manager-dgfp</url-pattern>
        <url-pattern>/mis1-approval-manager-v9</url-pattern>
        <url-pattern>/mis-form-1</url-pattern>
        <url-pattern>/MIS_2</url-pattern>
        <url-pattern>/mis3</url-pattern>
        <url-pattern>/MIS_4</url-pattern>
        <url-pattern>/mis5</url-pattern>
        <url-pattern>/epiperreport</url-pattern>
        <url-pattern>/ha_report</url-pattern>
        <url-pattern>/EPIMonthlyVaccineInfant</url-pattern>
        <url-pattern>/EPIDailyVaccineInfant</url-pattern>
        <url-pattern>/epi_monthly_vaccine_report_woman</url-pattern>
        <url-pattern>/daily_vaccine_and_other_service_report_woman</url-pattern>
        <url-pattern>/AEFI</url-pattern>
        <url-pattern>/csba_report</url-pattern>
        <url-pattern>/fpi_monitoring_report</url-pattern>
        <url-pattern>/populationCountKhanaWise</url-pattern>
        <url-pattern>/yearlyPopulationCountVillageWise</url-pattern>
        <url-pattern>/ElcoCountChildAndAgeWise</url-pattern>
        <url-pattern>/mis1-lmis</url-pattern>
        <url-pattern>/fwaDailyActivity</url-pattern>
        <url-pattern>/mis1-9</url-pattern>
        <url-pattern>/mis2-9</url-pattern>
        <url-pattern>/mis-form-1-test</url-pattern>
        <url-pattern>/MIS_2_DGFP</url-pattern>
        <url-pattern>/MIS_4_DGFP</url-pattern>
        <url-pattern>/elco-by-acceptor-status</url-pattern>
        <url-pattern>/household-wise-population</url-pattern>
        <url-pattern>/villlage-wise-population</url-pattern>
        <url-pattern>/fpi-supervision-report</url-pattern>
        <url-pattern>/anc-coverage</url-pattern>
        <url-pattern>/delivery-assistance</url-pattern>
        <url-pattern>/pnc-coverage</url-pattern>
        <url-pattern>/immunization-coverage</url-pattern>
        <url-pattern>/delivery-place</url-pattern>
        <url-pattern>/ProviderManagement_RHIS2DB</url-pattern>
        <url-pattern>/village-settings</url-pattern>
        <url-pattern>/village_settings_service</url-pattern>
        <url-pattern>/schedule_epi_settings</url-pattern>
        <url-pattern>/loginUser</url-pattern>
        <url-pattern>/roleAccess</url-pattern>
        <url-pattern>/userRole</url-pattern>
        <url-pattern>/role</url-pattern>
        <url-pattern>/subMenu</url-pattern>
        <url-pattern>/menu</url-pattern>
        <url-pattern>/apk</url-pattern>
        <url-pattern>/ProviderDB_STATUS</url-pattern>
        <url-pattern>/Analytics</url-pattern>
        <url-pattern>/asset-dashboard</url-pattern>
        <url-pattern>/provider-management-dgfp</url-pattern>
        <url-pattern>/Provider_SDP_Mapping</url-pattern>
        <url-pattern>/provider-management</url-pattern>
        <url-pattern>/fwas-annual-targets</url-pattern>
        <url-pattern>/userManual</url-pattern>
        <url-pattern>/facilitator-guide</url-pattern>
        <url-pattern>/brochure</url-pattern>
        <url-pattern>/fact-sheet</url-pattern>
        <url-pattern>/presentation</url-pattern>
        <url-pattern>/infographics</url-pattern>
        <url-pattern>/video</url-pattern>
        <url-pattern>/module-launching-info</url-pattern>
        <url-pattern>/Release-note</url-pattern>
        <url-pattern>/emis-documents</url-pattern>
        <url-pattern>/NCDScreening</url-pattern>
        <url-pattern>/ElcoSheet</url-pattern>
        <url-pattern>/ZeroToEighteenthMonthAgedChildList</url-pattern>
        <url-pattern>/BelowZeroToFiveYearsChildServing</url-pattern>
        <url-pattern>/AdolescentsHealthCareList</url-pattern>
        <url-pattern>/PregnantMotherAndNewbornInfoServiceList</url-pattern>
        <url-pattern>/DeathList</url-pattern>
        <url-pattern>/InjectableReceiverList</url-pattern>
        <url-pattern>/PublicRepresentativeSupervisionList</url-pattern>
        <url-pattern>/MonthlyWorkplan</url-pattern>
        <url-pattern>/MonthlyWorkplanHealth</url-pattern>
        <url-pattern>/MonthlyAdvanceWorkplanDashboard</url-pattern>
        <url-pattern>/mis1-approval-status</url-pattern>
        <url-pattern>/mis2-approval-status</url-pattern>
        <url-pattern>/mis4-approval-status</url-pattern>
        <url-pattern>/monthly-workplan-view</url-pattern>
        <url-pattern>/mis1-approval-status-test</url-pattern>
        <url-pattern>/mis2-approval-status-9v-all</url-pattern>
        <url-pattern>/mis4-approval-status-9v-all</url-pattern>
        <url-pattern>/eMISStats</url-pattern>
        <url-pattern>/dgfp-dashboard</url-pattern>
    </filter-mapping>-->
   
    <listener>
        <listener-class>com.rhis.controllers.MyHttpSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/faces</welcome-file>
        <welcome-file>/home</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/errorpage/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/errorpage/error500.jsp</location>
    </error-page>
    <resource-ref>
        <description>eMIS PostgreSQL Datasource Connection</description>
        <res-ref-name>jdbc/postgres</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>mhelalk505@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>hk446283</param-value>
    </context-param>
    <context-param>
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name>
      <param-value>
         <!--/home/apachetomcat/tomcat/webapps/data/-->
         <!--D:/apache-tomcat-9.0.60/apache-tomcat-9.0.60/webapps/data/-->
         /opt/tomcat9/webapps/data/
      </param-value> 
   </context-param>
</web-app>